body {
    background-color: rgb(191, 233, 247);
}

#component h1 {
    background-color: white;
    padding: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}

.forparaphs {
    display: flex;
    justify-content: center;
}

#component p {
    background-color: white;
    padding: 9px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
    font-size: 21px;
    text-align: justify;
}